# Data Analysis Project 5: Pet Shelter Analysis

Import Panda and CSVs

In [111]:
import pandas as pd

intakes_outcomes = pd.read_csv('archive/aac_intakes_outcomes.csv')
intakes = pd.read_csv('archive/aac_intakes.csv')
outcomes = pd.read_csv('archive/aac_outcomes.csv')

## 1. Is there an area where more pets are found?
   - Find the top 5 places where animals are found so the shelter can coordinate with local volunteers and animal control to monitor these areas.

Strategy
- Get the top 5 locations using ".value_counts().head()" from intakes['found_location'] and assign them to 'top_areas' variable
- Print the answer

In [112]:
top_areas = intakes['found_location'].value_counts().head()

print(f"The top 5 places animals where found are:")
for label, value in top_areas.items():
    print(f"- {label}: {value} animals found.")

The top 5 places animals where found are:
- Austin (TX): 14443 animals found.
- Outside Jurisdiction: 948 animals found.
- Travis (TX): 921 animals found.
- 7201 Levander Loop in Austin (TX): 517 animals found.
- Del Valle (TX): 411 animals found.

## 2. What is the average number of pets found in a month in the year 2015?
   - Are there months where there is a higher number of animals found?
   - Knowing the number of pets the shelter might see in a month can help them gather enough resources and donations to care for the animals they receive.

Strategy
- Converted the datetime column to type datetime
- Filtered rows for 2015 intakes
- Group the intakes by month and count their size
- Calculate the mean of the monthly intakes
- Find months with a higher intake number than the mean
- Print results

In [113]:
intakes['datetime'] = pd.to_datetime(intakes['datetime'])

intakes_2015 = intakes[intakes['datetime'].dt.year == 2015]

monthly_intakes = intakes_2015.groupby(intakes_2015['datetime'].dt.month).size()

mean_intakes = monthly_intakes.mean()

higher_months = monthly_intakes[monthly_intakes > mean_intakes]

print(f"The 2015 monthly mean was {mean_intakes:.2f} intakes.")
print(f"Months with intakes above the mean:")
for label, value in higher_months.items():
    print(f"- Month {label} had {value} intakes.")

The 2015 monthly mean was 1559.33 intakes.
Months with intakes above the mean:
- Month 5 had 2094 intakes.
- Month 6 had 2189 intakes.
- Month 7 had 1635 intakes.
- Month 8 had 1718 intakes.
- Month 9 had 1591 intakes.
- Month 10 had 1740 intakes.

## 3. What is the ratio of incoming pets vs. adopted pets?
   - This key metric helps the shelter know how they are doing

Strategy
- Calculate the total number intakes
- Calculate the total number of adoptions using the dimensions of the filtered dataframe
- Calculate the ratio of incoming pets vs adopted pets
- Print Answer

In [114]:
total_intakes = len(intakes)

total_adoptions = outcomes[outcomes['outcome_type'] == 'Adoption'].shape[0]

ratio = total_adoptions / total_intakes

print(f"The ratio of incoming pets vs. adopted pets is: {ratio:.2f}")

The ratio of incoming pets vs. adopted pets is: 0.43

## 4. What is the distribution of the types of animals in the sheler?
   - Find the count of each type of animal in the shelter

Strategy
- Count the number of occurences of each type of animal
- Print answer

In [115]:
animal_types = intakes['animal_type'].value_counts()

print(f"The count of types of animals:")
for label, value in animal_types.items():
    print(f"- {label}'s: {value}")

The count of types of animals:
- Dog's: 45743
- Cat's: 29659
- Other's: 4434
- Bird's: 342
- Livestock's: 9

## 5. What are the adoption rates for specific breeds?
   - Find the top 5 dog breeds in the shelter (based on count)
   - Find the adoption percentage of each breed

Strategy
- Find total number of breeds, times they appear and return the top 5
- Count the number of adoptions per breed
- Filter adoptions by top 5 breeds
- Calculate percentage
- Print answer

In [116]:
top_five_breeds = intakes['breed'].value_counts().head()

adoptions_by_breed = outcomes[outcomes['outcome_type'] == 'Adoption']['breed'].value_counts()

breed_filtered_adoptions = adoptions_by_breed[adoptions_by_breed.index.isin(top_five_breeds.index)]

breed_adoption_percentage = (breed_filtered_adoptions / top_five_breeds) * 100

print(f"The top 5 breeds adoption percentages are:")
for label, value in breed_adoption_percentage.items():
    print(f"- {label}'s: {value:.2f}")

The top 5 breeds adoption percentages are:
- Chihuahua Shorthair Mix's: 47.18
- Domestic Medium Hair Mix's: 45.66
- Domestic Shorthair Mix's: 43.07
- Labrador Retriever Mix's: 49.66
- Pit Bull Mix's: 37.32

## 6. What are the adoption rates for different colorings?
- Find the top 5 colorings in the shelter (based on count)
- Find the adoption percentage of each color

Strategy
- Find total number of colors, count the times they appear and return the top 5
- Filter for adoptions, count the number of adoptions per color and group them
- Filter adoptions_by_color for top_five_colors
- Get percentage
- Order the values descending

In [117]:
top_five_colors = intakes['color'].value_counts().head()

adoptions_by_color = outcomes[outcomes['outcome_type'] == 'Adoption']['color'].value_counts()

color_filtered_adoptions = adoptions_by_color[adoptions_by_color.index.isin(top_five_colors.index)]

color_adoption_percentage = ((color_filtered_adoptions / top_five_colors) * 100).sort_values(ascending=False)

print(f"The top 5 colors adoption percentages are:")
for label, value in color_adoption_percentage.items():
    print(f"- {label}'s: {value:.2f}")

The top 5 colors adoption percentages are:
- Black/White's: 45.73
- Brown Tabby's: 42.66
- Black's: 41.09
- White's: 37.98
- Brown's: 22.19

## 7. About how many animals are spayed/neutered each month?
   - This will help the shelter allocate resources and staff. Assume that all intact males and females will be spayed/neutered.

Strategy
- Convert 'datetime' column to datetime
- Create a 'month' column as a period object for monthly grouping
- Filter for Spayed Females, Intact Females, Neutered Males and Intact Males
- Concatenate all filtered outcomes into one DataFrame
- Group by month and count occurrences
- Print Answer

In [118]:
outcomes['datetime'] = pd.to_datetime(outcomes['datetime'])

outcomes['month'] = outcomes['datetime'].dt.to_period('M')
 
spayed_female = outcomes[outcomes['sex_upon_outcome'] == 'Spayed Female']
intact_female = outcomes[outcomes['sex_upon_outcome'] == 'Intact Female']
neutered_male = outcomes[outcomes['sex_upon_outcome'] == 'Neutered Male']
intact_male = outcomes[outcomes['sex_upon_outcome'] == 'Intact Male']

monthly_spayed_neutered = pd.concat([spayed_female, intact_female, neutered_male, intact_male])

monthly_counts = monthly_spayed_neutered.groupby('month').size().mean()

print(f"Number of animals spayed/neutered each month: {monthly_counts}")

Number of animals spayed/neutered each month: 1343.0

## Extra Credit

## 1. How many animals in the shelter are repeats? Which animal was returned to the shelter the most?
   - This means the animal has been brought in more than once.

Strategy
- Find how many animals are repeats (more than one intake)
- Find the top returned animal's id
- Search for the top animal id's name

In [119]:
repeat_animals = sum(intakes['animal_id'].value_counts() > 1)

most_returned_animal_id = intakes['animal_id'].value_counts().nlargest(1).index[0]

animal_name = intakes[intakes['animal_id'] == most_returned_animal_id]['name'].iloc[0]

print(f"Number of repeat animals: {repeat_animals} \nMost returned animal's name: {animal_name}")

Number of repeat animals: 6154
Most returned animal's name: Lil Bit

## 2. What are the adoption rates for the following age groups?
- baby: 4 months and less
- young: 5 months - 2 years
- adult: 3 years - 10 years
- senior 11+

Strategy
- Define age bins and labels
- Assign age groups (.25 accounts for leap years)
- Calculate totals, adoption counts and create groupings
- Calculate adoption rates (account for any not entered data)
- Print answer

In [120]:
age_bins = [0, 1/3, 2, 10, float('inf')]
age_labels = ['baby', 'young', 'adult', 'senior']

intakes_outcomes['age_group'] = pd.cut(
    intakes_outcomes['age_upon_outcome_(days)'] / 365.25,
    bins=age_bins, 
    labels=age_labels, 
    include_lowest=True
)

total_counts = intakes_outcomes['age_group'].value_counts()
adoption_counts = intakes_outcomes[
    intakes_outcomes['outcome_type'].str.lower() == 'adoption'
    ]['age_group'].value_counts()

adoption_rates = (adoption_counts / total_counts * 100).fillna(0)

print(f"Adoption Rates by Age Group:")
for label, value in adoption_rates.items():
    print(f"- {label}: {value:.2f}%")

Adoption Rates by Age Group:
- young: 41.70%
- baby: 51.17%
- adult: 33.32%
- senior: 21.02%

## 3. If spay/neuter for a dog costs \$100 and a spay/neuter for a cat costs \$50, how much did the shelter spend in 2015 on these procedures?

Strategy
- Convert intakes_outcomes['outcome_datetime'] to datetime
- Filter for 2015 and animals with intact sex upon intake also spayed and neutered upon outcome
- Separate into categories
- Calculate costs
- Print Answer

In [121]:
intakes_outcomes['outcome_datetime'] = pd.to_datetime(intakes_outcomes['outcome_datetime'])

filtered_2015 = intakes_outcomes[
    (intakes_outcomes['outcome_datetime'].dt.year == 2015) &
    (intakes_outcomes['sex_upon_intake'].str.contains('Intact', case=False)) &
    ((intakes_outcomes['sex_upon_outcome'].str.contains('Spayed', case=False)) |
     (intakes_outcomes['sex_upon_outcome'].str.contains('Neutered', case=False)))
]

spayed_dogs = filtered_2015[(filtered_2015['sex_upon_outcome'].str.contains('Spayed', case=False)) & (filtered_2015['animal_type'] == 'Dog')]
neutered_dogs = filtered_2015[(filtered_2015['sex_upon_outcome'].str.contains('Neutered', case=False)) & (filtered_2015['animal_type'] == 'Dog')]
spayed_cats = filtered_2015[(filtered_2015['sex_upon_outcome'].str.contains('Spayed', case=False)) & (filtered_2015['animal_type'] == 'Cat')]
neutered_cats = filtered_2015[(filtered_2015['sex_upon_outcome'].str.contains('Neutered', case=False)) & (filtered_2015['animal_type'] == 'Cat')]

cost_spayed_dogs = len(spayed_dogs) * 100
cost_neutered_dogs = len(neutered_dogs) * 100
cost_spayed_cats = len(spayed_cats) * 50
cost_neutered_cats = len(neutered_cats) * 50

print(f"Cost for Spayed Dogs: ${cost_spayed_dogs:,.2f}")
print(f"Cost for Neutered Dogs: ${cost_neutered_dogs:,.2f}")
print(f"Cost for Spayed Cats: ${cost_spayed_cats:,.2f}")
print(f"Cost for Neutered Cats: ${cost_neutered_cats:,.2f}")

Cost for Spayed Dogs: $199,200.00
Cost for Neutered Dogs: $229,600.00
Cost for Spayed Cats: $65,400.00
Cost for Neutered Cats: $66,150.00